<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "co.uk.unisaver"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>UniSaver</name>

    <description>
        An app for saving money. 
    </description>

    <author href="http://joel-murphy.com/" email="joelpsp@hotmail.co.uk">
        Joel Murphy
    </author>

    <!-- Barcode plugin -->
    <gap:plugin name="com.phonegap.plugins.barcodescanner" />

    <!-- Allow famo.us JS's -->
    <access origin="http://code.famo.us" subdomains="true" />
</widget>